:root {
    --comandname: #212121;
    --comandtext: #757575;
    --featuresmain: #212121;
    --featurestext: #757575;
    --Whatdo: #FFFFFF;
    --whatdobg: #2f303a;
    --wathbt: #FFFFFF;
    --wathbtbg: #2193f3;
    --headermail: #757575;
    -- -- -- --
}

/*hero*/
p {
    font-size: 15px;
}

/*site-information*/
h1 {
    font-size: 45px;
    color: #FFFFFF;
    background-color: #A9A9A9;
    padding: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.background-color {
    width: 1000px;
    height: 450px;
}